h1{
    color: rgb(0, 225, 255);
}
body{
    background-color: gray;
}
.div1{
    align-items: center; 
    border: 5px outset black;
    background-color: lightblue;
    text-align: center;
    background-image: url('../images/background_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
iframe{
    width: 420px;
    height: 240px;
}